.uploader-container {}
.webuploader-dnd-over { border: 1px #ccc solid; padding: 20px;position: relative;box-shadow: 0px 0px 20px rgba(0,0,0,0.3);}
.uploader-container .drop-tips {z-index:999999;top:20px; left:0; background-color: #fff; opacity: 0.8;filter: alpha(opacity=80);  width: 100%; height: 100%; line-height: 50%; position:absolute; display: none;text-align: center;}
.uploader-container .tags {line-height: 25px;}
.webuploader-dnd-over .drop-tips {display: block;}
.uploader-container .thumbnails .alert {margin-bottom: 0px;padding:0;}
.uploader-container .thumbnail .file-panel {
	position: absolute;height: 0;width: 100%;top: 0;left: 0;overflow: hidden;z-index: 300;
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#80000000', endColorstr='#80000000')\0;background: rgba( 0, 0, 0, 0.5 );
}
.uploader-container .thumbnails:hover .thumbnail .file-panel {height: 30px;}
.uploader-container .thumbnail .file-panel span {width: 24px;height: 24px;display: inline;float: right;text-indent: -9999px;overflow: hidden;background: url('../js/webuploader/icons.png') no-repeat;margin: 5px 1px 1px;cursor: pointer;}
.uploader-container .thumbnail .file-panel span.rotateLeft {background-position: 0 -24px;}
.uploader-container .thumbnail .file-panel span.rotateLeft:hover {background-position: 0 0;}
.uploader-container .thumbnail .file-panel span.rotateRight {background-position: -24px -24px;}
.uploader-container .thumbnail .file-panel span.rotateRight:hover {background-position: -24px 0;}
.uploader-container .thumbnail .file-panel span.cancel {background-position: -48px -24px;}
.uploader-container .thumbnail .file-panel span.cancel:hover {background-position: -48px 0;}
.uploader-container .thumbnails .caption .title {word-break: break-all;word-wrap: break-word;}
.uploader-container .media .media-body .media-heading {word-break: break-all;word-wrap: break-word;}
.uploader-container .media .media-body .media-message {word-break: break-all;word-wrap: break-word;}